@model IEnumerable<MovieAppSQL.Models.Movie>

@{
    ViewData["Title"] = "ViewAll";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="card">
    <h2 class="card-header text-center bg-success text-light">Showing All Movies</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MovieName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> | 
                        <a class="text-danger" asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
